/* Global style */

* {
  margin: 0% 0%;
  padding: 0% 0%;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #10161e;
}

main {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  top: 4rem;
  color: #10161e;
}

section {
  width: auto 0;
}

section:nth-child(2n + 1) {
  background-color: #d7d8da;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.1;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.1;
}

h5,
footer span {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8re;
  color: #10161e;
}

p {
  font-family: 'Roboto' sans-serif;
  font-size: 1.2rem;
  line-height: 1.35;
}

a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #10161e;
  font-size: 1.25rem;
}

/* Header styles */

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 64px;
  background-color: white;
  z-index: 10;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h3 {
  color: #8a97a8;
  font-size: 1.5rem;
}

.logo h3 span {
  color: black;
}

header img {
  height: 3rem;
  padding: 0 2% 0 1.5rem;
}

/* Navigation styles */

nav {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 35%;
  padding-right: 3%;
}

nav a {
  color: #898b8f;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s, color 0.5s ease-in;
}

nav a:hover {
  color: black;
  border-bottom: 1px solid black;
}

/* Banner style */

.banner img {
  display: inline-block;
  vertical-align: middle;
  width: 60%;
  margin: 32px 24px;
  flex-shrink: 0;
}

.banner .right-side-text {
  width: 30%;
  box-sizing: border-box;
}

.right-side-text {
  display: inline-flex;
  justify-content: space-between;
  flex-flow: column;
  vertical-align: middle;
}

.banner h3 {
  margin: 1.5rem 0;
}

.banner p {
  margin: 1.5rem 0;
  width: 70%;
}

.banner a {
  background-color: #393c3f;
  color: white;
  border-radius: 0px;
  width: 75%;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem 0;
  transition: background-color 0.5s ease-in, color 0.5s ease,
    border-radius 0.5s ese-out;
}

.banner a:hover {
  background-color: #405e7c;
  color: rgb(193, 202, 219);
  border-radius: 25px;
}

/* Information style */

.information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

/* left side container style */

.left-flex-container {
  width: 55%;
}

.left-flex-container img {
  display: flex;
  flex-flow: column;
  margin: 32px 24px;
  width: 100%;
}

.left-flex-container h2 {
  color: #363a3f;
  width: 100%;
  margin: 32px 24px 0 24px;
}

.left-flex-container p {
  color: #697077;
  font-size: 1rem;
  margin: 24px;
}

.left-flex-container h5 {
  color: #697077;
  margin: 32px 24px;
  font-size: 0.8rem;
}

/* rigth side container style */

.right-flex-container {
  display: flex;
  flex-flow: column;
  vertical-align: top;
  margin-top: 1rem;
  width: 40%;
}

#mobile-pic {
  display: none;
}

.flex-content-box {
  display: flex;
  flex-flow: row;
  vertical-align: middle;
}

.flex-content-box:nth-child(3) {
  background-color: #c3c8ce;
}

.flex-content-box img {
  width: 35%;
  height: auto;
  margin: 1rem 1rem;
}

.flex-content-box .side-text {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: middle;
  padding: 1rem 0;
}

.flex-content-box .side-text h3 {
  font-size: 1.5rem;
  font-weight: 100px;
  color: #697077;
}
.flex-content-box .side-text p {
  font-size: 1.2rem;
  font-weight: normal;
  color: #697077;
}
.flex-content-box .side-text a {
  margin-top: 8px;
  font-size: 1rem;
  font-weight: normal;
  color: #0f79e4;
  transition: color 1s ease, font-weight 1s ease-in 1;
}

.flex-content-box .side-text a:hover {
  font-weight: bold;
  color: #bd196b;
}

.courses {
  width: 100%;
  display: flex;
  flex-direction: column; /* main axis is vertical */
  justify-content: space-between; /* move along the axis */
  align-items: center; /* move to opposite axis */
}

.courses h1 {
  margin: 36px 0;
  color: #41474d;
}

.container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 32px;
}

.course-box {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 16px 16px;
}

.course-box img {
  width: 100%;
  height: auto;
}

.course-box .course-text {
  margin: 16px 16px;
}

.course-box .course-text h3 {
  font-size: 1.8rem;
  margin-bottom: 16px;
  color: #697077;
}
.course-box .course-text .sub-title {
  font-size: 1.1rem;
  margin-bottom: 16px;
  color: #697077;
}
.course-box .course-text .course-details {
  width: 80%;
  font-size: 1rem;
  margin-bottom: 16px;
  color: #697077;
  line-height: 2rem;
}

/* Thesis style */

.thesis {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thesis h1 {
  margin: 32px 0;
  color: #41474d;
}

.thesis-container {
  display: flex;
  width: 100%;
}

/* left side container style */

.left-thesis-container {
  width: 60%;
  margin: 0 24px;
}

.left-thesis-container video {
  width: 100%;
  margin-bottom: 24px;
}

.left-thesis-container h3 {
  font-size: 1.8rem;
  color: #697077;
  margin-bottom: 8px;
}

.left-thesis-container p {
  font-size: 1.1rem;
  color: #697077;
  margin-bottom: 32px;
}

/* right side container style */

.right-thesis-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.content-box {
  display: flex;
  margin-bottom: 32px;
}

.right-thesis-container img {
  width: 35%;
  height: auto;
  margin: 16px;
}

.right-thesis-container .content-box .side-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin: 16px 0;
}

.right-thesis-container .content-box:nth-child(1) {
  background-color: #c3c8ce;
}

.side-text h3 {
  font-size: 1.8rem;
  color: #697077;
  margin-bottom: 32px;
}

.side-text p {
  font-size: 1.1rem;
  color: #697077;
  margin-bottom: 32px;
  margin-right: 16px;
  line-height: 2rem;
}

/* Footer style */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
  height: 4rem;
  border-top: 1px solid #bdc2c7;
}

footer h5 {
  margin-left: 24px;
  color: #697077;
}

footer nav {
  display: flex;
  justify-content: flex-end;
}
footer nav span {
  color: #697077;
  margin-left: 2rem;
}
